@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@300;400;500;600;700&family=Nunito:wght@300;400;500;600;700&family=Rubik:wght@400;500;600;700&display=swap');

* {
    --background-col: #222831;
    --secondary-col: #4E596F;
    --secondary-text-col: #B3B8C0;
    --red-col: #F66663;
    --main-text-col: #FFFFFF;
}

h1, h2, h3, h4 {
    @apply text-black dark:text-white;
}

h1, h2 {
    @apply text-black dark:text-white font-rubik m-0 mb-4 mt-7;
}

h1 {
    @apply text-4xl font-bold;
}

h2 {
    @apply text-3xl font-medium;
}

h3 {
    @apply text-black dark:text-white font-rubik font-light text-base m-0 mt-1 mb-2;
}

p , label{
    @apply text-base font-sans text-gray;
}

input{
    @apply caret-white border-none rounded p-2 mt-2 bg-secondary placeholder-gray font-sans text-white
}

li {
    list-style: none;
    font-family: 'Nunito', sans-serif;
    color: var(--secondary-text-col);
}

hr {
    @apply block my-8 bg-secondary border-0.5 border-solid border-secondary;
    width: 70%;
}

body {
    background-color: var(--background-col);
}

a {
    @apply no-underline text-red hover:text-white;
}

button.btn-primary{
    @apply bg-red border-none px-5 py-3 rounded font-sans font-normal text-white;
    transition: all 100ms ease-in;
}

button.btn-primary:hover{
    @apply bg-red-100;
}

button.btn-primary:active{
    @apply bg-red-200;
}

textarea{
    @apply caret-white border-none rounded p-2 mt-2 bg-secondary placeholder-gray font-sans text-white
}

textarea:focus-visible{
    @apply outline outline-offset-2 outline-1 outline-red;
}

input:focus-visible{
    @apply outline outline-offset-2 outline-1 outline-red;
}

button.btn-empty{
    @apply bg-transparent border-none p-0 font-sans font-normal text-white
}

button.btn-round{
    @apply bg-white border-none p-2 rounded-full font-sans font-normal text-white
}

#app {
    @apply flex flex-col mx-auto w-11/12 sm:w-11/12 md:w-2/3 lg:w-3/5 xl:w-2/5;
    @apply mt-24;
    min-width: 320px;
}